<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<div class="cardContainer">
  <% profiles.forEach(profile => { %>
    <a class="text-decoration-none" href="/profiles/<%= profile._id %>">
      <div class="card">
        <% if (profile.avatar) { %>
          <img src="<%= profile.avatar %>" alt="<%= profile.name %>'s avatar">
          <% } else { %>
            <img src="https://picsum.photos/96" alt="Placeholder avatar">
          <% } %>
            <div class="card-body">
              <h1 class="card-title"><%= profile.name %></h1>
            </div>
      </div>
    </a>
  <% }) %>
</div>

<%- include('../partials/footer') %>