<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/home.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
        class="profile-avatar"
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %> avatar"
      >
    </div>
  <% } %>
  <h1>It's <%= isSelf ? "you" : profile.name %>!</h1>
  <% if (isSelf) { %>
    <h2>Add your desired budget</h2>
    <form action="/profiles/<%= profile._id %>/budget" method="POST">
      <label>
        Desired Budget:
        <input type="number" name="budget" autocomplete="off">
      </label>
      <button type="submit">Add your desired budget</button>
    </form>
  <% } %>
  <% if (profile.budget.length) { %>
    <h2>
      <%= isSelf ? 'You have' : `${profile.name} has`%> a budget of <%= profile.budget[0].budget %>   
    </h2>
    <% profile.budget.forEach((budget,idx) => { %>
      <h3>
        <% if (isSelf) { %>
          <form action="/profiles/budget/<%= budget._id %>?_method=DELETE" method="POST" style="display: inline-block;">
            <button type="submit">Delete current budget of <%= profile.budget[idx].budget %> </button>
          </form>
        <% } %> 
      </h3>
    <% }) %>
  <% } else { %>
    <h2>
      <%= isSelf ? "You don't" : `${profile.name} doesn't`%> have a budget. 
    </h2>
    <% } %> 
</main>

<%- include('../partials/footer') %>