<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/home.css">
<link rel="stylesheet" href="/stylesheets/all-pc-page.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<%- include('../partials/nav') %>


<section>
  <h2>All the PC's</h2>
  <ul>
    <% parts.forEach(part => { %>
      <li class="bg-text">Name: <a href="/parts/<%= part._id %>"><%= part.title %></a>
        <br>
          Case: <%= part.case %>
          <br>
          Graphics Card: <%= part.graphic %>
          <br>
          MotherBoard: <%= part.motherbo %>
          <br>
          Storage: <%= part.storage %>
          <br>
          Power Supply: <%= part.psu %>
          <br>
          RAM: <%= part.ram %>
          <br>
          Owner: <%= part.owner.name %>
      </li>
    <% }) %> 
  </ul>
</section>

<%- include('../partials/footer') %>