<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/home.css">
<%- include('../partials/nav') %>

<section>
  <h1>This Pc was built by <%= part.owner.name %></h1>
  <h2><%= part.title %></h2>
  <h3>Case:<%= part.case %>
    Graphics Card:<%= part.graphic %>
    MotherBoard:<%= part.motherbo %>
    Storage:<%= part.storage %>
    Power Supply:<%= part.psu %>
    RAM:<%= part.ram %></h3>
</section>
<% if (part.owner.equals(user?.profile._id)) { %> 
  <form action="/parts/<%= part._id %>/edit" method="GET">
    <button class="btn" type="submit">Edit this PC</button>
  </form>
  <form action="/parts/<%= part._id %>?_method=DELETE" method="POST">
    <button class="btn" type="submit">Delete this PC</button>
  </form>
<% } %> 
<h2>Review</h2>
  <form id="add-review-form" action="/parts/<%= part._id %>/reviews" method="POST">
    <label for="content-textarea">Add Review</label>
    <textarea name="content" id="content-textarea"></textarea>
    <button type="submit">Add Review</button>
  </form>
  <% if (part.reviews.length) { %>
    <table>
      <thead>
        <tr>
        </tr>
      </thead>
      <tbody>
        <% part.reviews.forEach(function(review) { %>
          <tr>
            <td><%= review.createdAt.toLocaleDateString() %></td>
            <td><%= review.content %></td>
            <td>
              <% if (part.owner.equals(user?.profile._id)) { %> 
                <form action="/parts/<%= part._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                  <button class="btn" type="submit">Delete this Review</button>
                </form>
              <% } %>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Reviews Yet</h3>
  <% } %>
<%- include('../partials/footer') %>