<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>This Pc was built by <%= part.owner.name %></h1>
  <h2><%= part.title %></h2>
  <h3>Case:<%= part.case %>
    Graphics Card:<%= part.graphic %>
    MotherBoard:<%= part.motherbo %>
    Storage:<%= part.storage %>
    Power Supply:<%= part.psu %>
    RAM:<%= part.ram %></h3>
</section>
<% if (part.owner.equals(user?.profile._id)) { %> 
  <form action="/parts/<%= part._id %>/edit" method="GET">
    <button class="btn" type="submit">Edit this PC</button>
  </form>
  <form action="/parts/<%= part._id %>?_method=DELETE" method="POST">
    <button class="btn" type="submit">Delete this PC</button>
  </form>
<% } %>   
<%- include('../partials/footer') %>