<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/home.css">
<link rel="stylesheet" href="/stylesheets/show-page.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<div clas="background"></div>
<%- include('../partials/nav') %>

<main class="background">
<section class="header">
  <% if (part.owner.equals(user?.profile._id)) { %> 
    <form class="btn-delete-show" action="/parts/<%= part._id %>?_method=DELETE" method="POST">
      <button class="btn-delete-show-btn" type="submit"><i class="fa-solid fa-skull-crossbones"></i></button>
    </form>
    <% } %> 
  <h1 class="header-name">This Pc was built by <%= part.owner.name %></h1>
  <h2 class="header-title">Build Name: <%= part.title %></h2>
  <h3 class="header-parts">Case: <%= part.case %>
    <br>
    <br>
    Graphics Card: <%= part.graphic %>
    <br>
    <br>
    MotherBoard: <%= part.motherbo %>
    <br>
    <br>
    Storage: <%= part.storage %>
    <br>
    <br>
    Power Supply: <%= part.psu %>
    <br>
    <br>
    RAM: <%= part.ram %></h3>
</section>
<% if (part.owner.equals(user?.profile._id)) { %> 
  <form class="btn-edit-show" action="/parts/<%= part._id %>/edit" method="GET">
    <button class="btn-edit-show-btn" type="submit">Edit PC <i class="fa-solid fa-pencil"></i></button>
  </form>
<% } %> 
<h2 class="review">Review</h2>
  <form class="review" id="add-review-form" action="/parts/<%= part._id %>/reviews" method="POST">
    <label for="content-textarea">Add Review</label>
    <textarea class="review-text-area" name="content" id="content-textarea"></textarea>
    <button class="post-btn" type="submit">Post</button>
  </form>
  <% if (part.reviews.length) { %>
    <table class="review-content">
      <thead>
        <tr>
        </tr>
      </thead>
      <tbody>
        <% part.reviews.forEach(function(review) { %>
          <tr class="review-content-review">
            <td class="review-content"><%= review.createdAt.toLocaleDateString() %></td>
            <td class="review-content"><%= review.content %></td>
            <td class="review-content">By <%= review.owner.name %></td>
            <td class="review-content">
              <% if (review.owner.equals(user?.profile._id)) { %> 
                <form class="review-content" action="/parts/<%= part._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                  <button class="delete-review-btn" type="submit">Delete this Review</button>
                </form>
              <% } %>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3 class="review">No Reviews Yet</h3>
  <% } %>
</main>
<%- include('../partials/footer') %>